.body {
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    padding: 5%;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.game-container {
    height: 90%;
    width: 100%;
}

.game-container button {
    color: white;
    background-color: #797979;
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    border-width: 5px;
    border-color: #252525;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.game-container button:hover {
    background-color: #646464;
}

.game-container button:active {
    background-color: #dbdbdb;
    color: black;
}

.game-container button.warning {
    color: white;
    background-color: #ff0000;
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    border-width: 5px;
    border-color: #880000;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.game-container button.warning:hover {
    background-color: #c20000;
}

.game-container button.warning:active {
    background-color: #ff8080;
    color: black;
}