.body {
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    padding: 5%;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

.game-container {
    height: 90%;
    width: 100%;
}

.game-container button {
    color: white;
    background-color: #cfd4d9;
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    border-width: 5px;
    border-color: #9b9fa2;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.game-container button:hover {
    background-color: #9b9fa2;
}

.game-container button:active {
    background-color: #dbdbdb;
    color: black;
}

.game-container button.warning {
    color: white;
    background-color: #f04f54;
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    border-width: 5px;
    border-color: #b33b3f;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.game-container button.warning:hover {
    background-color: #b33b3f;
}

.game-container button.warning:active {
    background-color: #ff8080;
    color: black;
}

.game-container button.success {
    color: white;
    background-color: #00e06c;
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    border-width: 5px;
    border-color: #00a851;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.game-container button.success:hover {
    background-color: #00a851;
}

.game-container button.success:active {
    background-color: #01ff01;
    color: black;
}
