.body {
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
}

.dark {
    background-color: black;
    color: white;
}

.game-container {
    background-color: darkgrey;
    height: 90%;
    width: 90%;
    margin: 0 auto;
}

.game-container button {
    color: white;
    background-color: #9b9fa2;
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    border-width: 5px;
    border-color: #74777a;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    font-size: 125%;
}

.game-container button:hover {
    background-color: #74777a;
}

.game-container button:active {
    background-color: #cfd4d9;
    color: black;
}

.game-container button.warning {
    color: white;
    background-color: #f04f54;
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    border-width: 5px;
    border-color: #b33b3f;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.game-container button.warning:hover {
    background-color: #b33b3f;
}

.game-container button.warning:active {
    background-color: #f47b7f;
    color: black;
}

.game-container button.success {
    color: white;
    background-color: #00e06c;
    font-family: "Consolas", Console, "Roboto Mono", "Lucida Console", monospace;
    border-width: 5px;
    border-color: #00a851;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.game-container button.success:hover {
    background-color: #00a851;
}

.game-container button.success:active {
    background-color: #40e891;
    color: black;
}